.list{
    list-style-type: none;
    padding: 0;
}

.listItem{
    margin: 1vh;
    border: 0.5px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px 1px #888888;
}

.delete-btn{
    position: relative;
    right: 0;
}

.contactInput{
    padding: 5px;
    border-radius: 10px;
    border: 0.5px solid gray;
}

.contactButton{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: aliceblue;
    padding: 10px;
}